{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Complete{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
    <h3 class = "alert text-center alert-danger">Password Reset Completed</h3>
    <div><iframe src = "https://media.giphy.com/media/oyhVXj4dpnztuN6jCd/giphy.gif" width = "200" height = "200" frameBorder = "0" class = "giphy-embed" allowFullScreen></iframe></div>
    <hr>
  </div>
 </div>
</div>
{% endblock main-content %}