{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3 class="alert alert-danger my-3 text-center" style ="background: linear-gradient(45deg, indigo,fuchsia,red,orange);color:white;font-family:sans-serif;font-weight:bolder;text-transform:uppercase;letter-spacing:5px;">Reset Password</h3>
   <hr>
   <form action="" method="post" novalidate class="p-5" style="box-shadow:0 2px 10px blue;border-radius:5px;border:1px solid #060CD3;">
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group">
      {{ fm.label_tag }} {{ fm }} <small class="text-danger"> {{ fm.errors | striptags }} </small>
   </div><br>
       
    {% endfor %}
    <input type="submit" name="submit" class="btn btn-outline-info mt-4" value="Submit" style="width:30%;">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{ error }}</p>
    {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}