{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{%endblock title %} 
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h5 id = "font">Welcome <span class = "text-capitalize" style = "font-family: 'Belanusa', sans-serif;">{{request.user}}</span></h5>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'profile' %}" class="btn {{active}}" id = "font">Profile</a>
        </li>
        <li class="d-grid">
          <a href="{% url 'address' %}" class="btn " id = "font">Address</a>
        </li>
      </ul>
    </div>

    <div class = "col-sm-8 offset-sm-1">
      <form action = "" method = "POST" novalidate id = "font">
        {% csrf_token %}
        {% for fm in form %}
        <div class ="form-group col-lg-6 mb-3">
          {{fm.label_tag}} {{fm}} <small class = "text-danger"> {{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
        <div class = "col-12 mt-3">
          <button type = "submit" class = "btn btn-outline-danger mb-3" style = "width:50%;height:40px;"id = "font">Submit</button>
        </div>
      </form>
      {% if messages %}
      {% for msg in messages %}
      <p {% if msg.tags %} class="alert alert-{{msg.tags}} mb-5" {% endif %} style = "color:red;width:50%;">{{ msg }}</p>  
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock main-content %}
